html, body{
	min-width: 960px;
}

body{
	background-color: #dcddde;
}

@font-face{
	font-family: helvetica-light;
	src: url(../fonts/helvetica-light.ttf);
}

@font-face{
	font-family: helvetica-narrow;
	src: url(../fonts/helvetica-narrow.ttf);
}

@font-face{
	font-family: lobster;
	src: url(../fonts/lobster.otf);
}

/*///////////////////////////////////////////////
 header/banner/slideshow section
//////////////////////////////////////////////*/

#banner{
	width: 100%;
	height: 900px;
}

#banner .header{
	width: 100%;
	height: 150px;
	background-color: #f9d65d;
	box-shadow: 0px 5px 5px grey;

	z-index: 2;
}

#banner .logo{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;

	z-index: 3;
}

#banner .main-image{
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;

	margin-left: auto;
	margin-right: auto;

	z-index: 3;
}

#myCarousel{
	height: 770px;
	width: 100%;

	/*apparently box-shadow is z-index 0 no matter what*/
	z-index: -1;
}

#myCarousel .item > div{
	height: 627px;
	width: 100%;

	background-size: cover;
}

#myCarousel .item:nth-child(1) > div{
	background-image: url(../img/slide1.png);
}
#myCarousel .item:nth-child(2) > div{
	background-image: url(../img/slide2.png);
}
#myCarousel .item:nth-child(3) > div{
	background-image: url(../img/slide3.png);
}

/*///////////////////////////////////////////////
 girls section
//////////////////////////////////////////////*/

#girls{
	
	background-color: white;

	text-align: center;

	padding-top: 60px;
	padding-bottom: 60px;
	color: black;
}

#girls-border-top{
	height: 11px;
	width:100%;
	background-image: url(../img/scallop_border.png);
	background-repeat: repeat-x;
}

#girls-border-bottom{
	height: 11px;
	width:100%;
	background-image: url(../img/scallop_border_inverted.png);
	background-repeat: repeat-x;
}

#girls h2{
	color: #79c9ca;
	font-family: lobster;
	font-size: 3em;
}

#girls p{
	color: #7a7a7a;
}

#girls > div >  p{
	font-size: 1.5em;
	margin: 0px;
}
#girls > div > p.last{
	margin-top: -7px;
	margin-bottom: 40px;
}

#girls > div > p > span{
	color: #79c9ca;
	font-family: lobster;
	font-size: 1.25em;
}

#girls .row p{
	font-size: 1.2em;
	font-style: italic;
	
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#girls .row:last-child p{
	max-width: none;
}

/* all images are different sizes..
let the browser resize/center them*/
.girl-img{
	height: 300px;
	width: 282px;

	background-position: center center;

	margin-left: auto;
	margin-right: auto;
}
.rachel > div{
	background-image: url(../img/rachel.png);
}
.claire > div{
	background-image: url(../img/claire.png);
}
.katie > div{
	background-image: url(../img/katie.png);
}
.vanessa > div{
	background-image: url(../img/vanessa.png);
}
.zoey > div{
	background-image: url(../img/zoey.png);
}

.rachel span{
	color: #e83a7a;
}
.claire span{
	color: #37a1b6;
}
.katie span{
	color: #f54d1c;
}
.vanessa span{
	color: #6a1868;
}
.zoey span{
	color: #d9b11a;
}

/*///////////////////////////////////////////////
 contact section
//////////////////////////////////////////////*/

#contact{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
	color: #7a7a7a;
}

#contact h2{
	color: #774c8a;
	font-family: lobster;
	font-size: 3em;
}

#contact p{
	font-size: 1.4em;
	margin: 0px;
}

#contact > div > div{
	width: 100%;
	margin-top: 50px;
	padding: 50px 5px;

	border-top: 2px #7a7a7a solid;
}


#contact > div > div p{
	font-size: 1.75em;
	font-style: italic;
}

#contact strong{
	font-weight: normal;
	text-decoration: underline;
}

#contact form{
	padding: 30px 0px;

}

#contact input[type="text"]{
	width: 650px;
	height: 35px;
	padding: 0px 10px;

	border: 0px;

	outline: none;

	margin-bottom: 20px;
}

#contact form > p{
	font-size: 1.4em;
	color: #774c8a;
	font-style: normal;
	font-weight: normal;

	margin: 25px 0px;
}

#contact label.radio-label{
	font-color: #7a7a7a;
	font-size: 1.4em;
	font-weight: normal;

}

#contact button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	color: white;
	background-color: #774c8a;
	border: 0px;

	padding: 5px 20px;
}

/*///////////////////////////////////////////////
 footer section
//////////////////////////////////////////////*/

#footer{
	width: 100%;
	text-align: center;
	color: white;
	background-color: purple;
}
